services:
    database:
        image: mysql:8
        container_name: demo-database
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: demo
        ports:
            - "3307:3306"
        networks: 
            - demo-net
        volumes: 
            - demo-volume:/var/lib/mysql

    frontend:
        image: client:v1
        build:
            context: ./client
            args: 
                API_HOST: localhost
                API_BASE: /adj-api
                API_PORT: 8081
        container_name: demo-frontend
        ports:
            - "3000:80"
        networks:
            - demo-net
        depends_on:
        - database
    
    backend:
        image: server:v1
        build:
            context: ./server
        environment:
            SERVER_PORT: 8080
            DB_HOST: database
            DB_PORT: 3306
            DB_NAME: demo
            DB_USER: root
            DB_PASSWORD: root
        container_name: demo-backend
        ports:
            - "8081:8080"
        networks:
            - demo-net
        depends_on:
        - frontend

# 1. docker volume create adj-volume
volumes:
    demo-volume:
        external: true

# 2. docker network create --driver bridge adj-net
# docker network ls
networks:
    demo-net:
        external: true

# 3. docker compose build --no-cache
